body {
font-family: 'Roboto', Sans-Serif; 
font-weight: 300;
text-align: center; 
}

table {
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
border-collapse: collapse;   
}

thead {
  height: 2em; 
  text-align: left;
  color: #1db954;
  background: #d3d3d3; 
}

img {
  width: 100px;
  height: 100px;
}
td, tr {
  padding: .5em;
  border-bottom: 1px solid #d3d3d3; 
}
tbody tr:nth-child(odd) {
  background-color: #eee;
}
tbody tr:hover {
  background-color: pink;
}